<p>
  {{id}}
</p>
<div *ngFor="let assignment of assignments" style="margin:5vh">
  <div style="float:right;margin-right:20vw">
    <label>Remarks:</label>
    <input type="text" [(ngModel)]="submission.Description">
    <br/>
    <label>Link:</label>
    <input type="text" [(ngModel)]="submission.Link">
    <br/>
    <button (click)="submit(assignment.Id)">Submit</button>
  </div>

  <label>Id: {{assignment.Id}}</label><br/>
  <label>Name:{{assignment.Name}}</label>
  <br/>
  <label>Description:{{assignment.Description}}</label>
  <br/>
  <label>Due date:{{assignment.DueDate}}</label>
  <br/>

</div>