<p>
  Lab id:{{id}}
</p>
<div *ngFor="let assignment of assignments" style="margin:5vh">
  

  <label>Id: {{assignment.Id}}</label><br/>
  <label>Name:{{assignment.Name}}</label>
  <br/>
  <label>Description:{{assignment.Description}}</label>
  <br/>
  <label>Due date:{{assignment.DueDate}}</label>
  <br/>

</div>
<div style="float:right;margin-right:20vw">
  <label>AssignmentId:</label>
  <input type="number" [(ngModel)]="assignmentId"><br/>
  <label>Remarks:</label>
  <input type="text" [(ngModel)]="submission.Remarks">
  <br/>
  <label>Link:</label>
  <input type="text" [(ngModel)]="submission.Link">
  <br/>
  <button (click)="submit()">Submit</button>
</div>